################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.*-SAV
*.bak
*.dll.config
*.lnk
*.log
*.pdb
*.SAV
*.user
.svn/
.vs/
bin/*.xml
bin/*/
lib/ki/
node_modules/
obj/
packages/
/unpublished.*
/app.ini
/Web.config
/config/Sensitive/*.config
/config/Sensitive/*.ini
/config/Sensitive/*.sql
