################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.pdb
*.lnk
*.user
.svn/
.vs/
unpublished.*
1-user-setup.sql
/app.ini
/bin/*/
/lib/ki/
/obj/
/packages/
/web.config
